{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "wordpress"
  ],
  "plugins": [],
  "env": {
    "jest": true,
    "node": true,
    "amd": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}