#site-offcanvas-wrap {
  position: relative;
  min-height: 100vh;
  -webkit-transition: left .5s ease;
  transition: left .5s ease;
  left: 0;
  z-index: 3;
}
.stylepress_slide_in_menu {
  background-color: #1b1b1b;
  color: #FFF;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: 30px;
  display: none;
  outline: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}
.admin-bar .stylepress_slide_in_menu {
  top: 32px;
}
.stylepress_slide_in_menu.shown {
  display: block;
}
.stylepress_slide_in_menu a {
  color: #818181;
  font-weight: 400;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.stylepress_slide_in_menu a.close_sidebar {
  display: inline-block;
  position: absolute;
  top: 29px;
  right: 25px;
  width: 13px;
  height: 13px;
  line-height: 13px;
  background-image: url(images/close.png);
  background-repeat: no-repeat;
  z-index: 1000;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.stylepress_slide_in_menu a.close_sidebar:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/*
body.showing_side_menu > *:not(.stylepress_slide_in_menu):not(#wpadminbar){
  transform: translateX(-600px);
}
.stylepress_slide_in_menu{
  width: 600px;
}*/
.stylepress-modal-pop {
  display: none;
}
.wp-dialog.stylepress-modal .ui-dialog-titlebar {
  background: transparent;
  border: 0;
  position: relative;
  z-index: 111;
}
.wp-dialog.stylepress-modal .ui-dialog-titlebar .ui-button.ui-dialog-titlebar-close {
  background: #EFEFEF;
  border-radius: 50%;
  top: -15px;
  width: 37px;
  height: 37px;
  right: -15px;
}
.wp-dialog.stylepress-modal .ui-dialog-titlebar .ui-button.ui-dialog-titlebar-close:before {
  font: 400 20px/1 dashicons;
  vertical-align: top;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 36px;
  width: 36px;
  height: 36px;
  text-indent: 0;
  content: '\f158';
  z-index: 11111;
  position: absolute;
  left: 0;
  top: 0;
  color: #666;
}
.wp-dialog.stylepress-modal .ui-dialog-titlebar .ui-button.ui-dialog-titlebar-close .ui-button-text,
.wp-dialog.stylepress-modal .ui-dialog-titlebar .ui-button.ui-dialog-titlebar-close .ui-icon {
  display: none;
}
.wp-dialog.stylepress-modal .ui-dialog-title {
  display: none;
}
.wp-dialog.stylepress-modal .stylepress-modal-pop {
  margin-top: -30px;
  display: block;
  padding: 20px;
}
.wp-dialog.stylepress-modal.stylepress-modal-loading .stylepress-modal-pop,
.wp-dialog.stylepress-modal.stylepress-modal-loading .ui-dialog-titlebar {
  display: none !important;
}
.wp-dialog.stylepress-modal {
  overflow: visible;
}
