.dtbaker-elementor-browser {
  margin-top: 40px;
}
.dtbaker-elementor-browser .design {
  float: left;
  margin: 0 4% 4% 0;
  width: 21.6%;
}
.dtbaker-elementor-browser .design:nth-child(4n+4) {
  margin-right: 0;
}
.dtbaker-elementor-browser .design:nth-child(4n+5) {
  clear: left;
}
.dtbaker-elementor-browser .stylebox {
  cursor: pointer;
  position: relative;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.dtbaker-elementor-browser .stylebox .thumb {
  display: block;
  overflow: hidden;
  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.dtbaker-elementor-browser .stylebox .thumb img {
  max-width: 100%;
  height: auto;
}
.dtbaker-elementor-browser .stylebox .theme-usage {
  padding: 6px 0 6px 12px;
  font-size: 12px;
  background-color: #fafafa;
  text-overflow: ellipsis;
  min-height: 18px;
}
.dtbaker-elementor-browser .stylebox .theme-usage.style-description {
  height: auto;
}
.dtbaker-elementor-browser .stylebox .theme-usage a {
  text-decoration: none;
  color: #444;
}
.dtbaker-elementor-browser .stylebox h3.design-name {
  font-size: 15px;
  font-weight: 600;
  height: 18px;
  margin: 0;
  padding: 15px;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #fafafa;
  color: #23282d;
}
.dtbaker-elementor-browser .stylebox h3.design-name small {
  font-weight: normal;
  font-size: 12px;
  color: #CCC;
}
.dtbaker-elementor-browser .stylebox h3.design-name a {
  color: #23282d;
  text-decoration: none;
}
.dtbaker-elementor-browser .stylebox .theme-actions {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 38px;
  padding: 9px 10px 0 10px;
  background: rgba(244, 244, 244, 0.7);
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}
.dtbaker-elementor-browser .stylebox.add-new a {
  text-decoration: none;
  display: block;
  position: relative;
  z-index: 1;
}
.dtbaker-elementor-instructions {
  margin: 40px 0 0;
}
.dtbaker-elementor-instructions > div {
  display: table;
  table-layout: fixed;
}
.dtbaker-elementor-instructions > div > div {
  display: table-cell;
  width: 25%;
}
.dtbaker-elementor-instructions > div > div h3 {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 .2em;
  padding: 0;
}
.dtbaker-elementor-instructions tr.highlightstyle {
  background: rgba(61, 153, 212, 0.5) !important;
}
.dtbaker-elementor-instructions:after {
  clear: both;
  display: table;
  content: '';
}
.wp-admin.post-type-dtbaker_style #elementor-switch-mode,
.wp-admin.post-type-dtbaker_style #elementor-editor {
  display: none;
}
.wp-admin.post-type-dtbaker_style #titlediv {
  margin-bottom: 20px;
}
.wp-admin.post-type-dtbaker_style #edit-slug-box {
  display: none;
}
.wp-admin.post-type-dtbaker_style #dtbaker-return-to-style {
  padding: 0 0 20px;
}
.wp-admin.post-type-dtbaker_style .stylepress-metabox > h3 {
  background: #f5f5f5;
  padding: 15px 20px;
  position: relative;
  margin: 0 0 30px;
}
.wp-admin.post-type-dtbaker_style .stylepress-metabox > h3:before {
  position: absolute;
  left: 0;
  content: '';
  display: block;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #e6e6e6;
}
.wp-admin.post-type-dtbaker_style .stylepress-metabox > h3 span {
  font-weight: bold;
  display: block;
  padding: 0 0 5px;
}
.wp-admin.post-type-dtbaker_style .stylepress-metabox > h3 small {
  font-weight: normal;
  display: block;
}
.wp-admin.post-type-dtbaker_style .stylepress-metabox > h3 a {
  float: right;
}
.wp-admin.post-type-dtbaker_style .stylepress-metabox .inner-wrap {
  margin: 0 0 40px;
}
.wp-admin.post-type-dtbaker_style .stylepress-metabox .inner-wrap > ul {
  display: block;
  padding: 0;
}
.wp-admin.post-type-dtbaker_style .stylepress-metabox .inner-wrap > ul > li {
  display: inline-block;
  padding: 5px;
  margin: 0 1% 3% 0;
  width: 23%;
}
.wp-admin.post-type-dtbaker_style .stylepress-metabox .inner-wrap > ul > li:nth-child(4n+4) {
  margin-right: 0;
}
.wp-admin.post-type-dtbaker_style .stylepress-metabox .inner-wrap > ul > li:nth-child(4n+5) {
  clear: left;
}
.wp-admin.post-type-dtbaker_style .stylepress-metabox .inner-wrap > ul > li .design-name {
  text-align: center;
}
.wp-admin.post-type-dtbaker_style .stylepress-metabox .inner-wrap > ul > li .theme-actions {
  position: relative;
  display: block;
  text-align: center;
}
.wp-admin.post-type-dtbaker_style .stylepress-metabox .advanced-settings {
  width: 70%;
  min-height: 150px;
}
.stylepress-header {
  background: #FFF;
  padding: 15px 20px;
  position: relative;
  margin: 0 0 30px;
}
.stylepress-header:before {
  position: absolute;
  left: 0;
  content: '';
  display: block;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #e6e6e6;
}
.stylepress-header span {
  font-weight: bold;
  display: block;
  padding: 0 0 5px;
}
.stylepress-header small {
  font-weight: normal;
  display: block;
}
.stylepress-header .buttons {
  font-weight: normal;
  float: right;
}
.wp-admin.post-type-dtbaker_style.post-new-php #elementor-editor {
  display: none !important;
}
.sub2-dtbaker-stylepress a {
  color: #8bcc3c;
}
#stylepress-header {
  margin: 40px 0 40px;
  background: #FFF;
  padding: 20px;
  border-radius: 10px;
}
#stylepress-header .stylepress-logo img {
  width: 334px;
  height: 75px;
}
#stylepress-header .icons {
  float: right;
  text-align: right;
  padding: 5px 4px 20px;
}
#stylepress-header .icons a {
  text-decoration: none;
  color: #545c63;
}
#stylepress-header .icons a:after {
  content: '|';
  color: #545c63;
  padding: 0 4px 0 7px;
}
#stylepress-header .icons a:last-child:after {
  display: none;
}
#stylepress-header .buttons {
  float: right;
  clear: right;
  text-align: right;
}
@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
.stylepress-payment-popup {
  position: relative;
}
.stylepress-payment-popup.processing .loadingbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: -3px;
  z-index: 9999999;
  background: rgba(255, 255, 255, 0.72);
}
.stylepress-payment-popup.processing .loadingbar:before {
  top: 34%;
  left: 41%;
  z-index: 5;
  content: '';
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #55b2d8;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}
.stylepress-payment-popup label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
}
.stylepress-payment-popup .form-row {
  margin-bottom: 16px;
}
.stylepress-payment-popup .text-field,
.stylepress-payment-popup .StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid rgba(226, 196, 196, 0.88);
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}
.stylepress-payment-popup .form-row > .text-field {
  padding: 12px 12px;
}
.stylepress-payment-popup .slider-range {
  width: 100%;
}
.stylepress-payment-popup .stripe-card-element:before {
  content: 'Loading...';
}
.stylepress-payment-popup .stripe-card-element.StripeElement:before {
  display: none;
}
.stylepress-payment-popup .StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}
.stylepress-payment-popup .StripeElement--invalid {
  border-color: #fa755a;
}
.stylepress-payment-popup .StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
.stylepress-payment-popup .slider {
  width: 100%;
  height: 0.7rem;
  border: 1px solid rgba(226, 196, 196, 0.88);
  position: relative;
}
.stylepress-payment-popup .slider.one-way .handle.handle-left {
  visibility: hidden;
}
.stylepress-payment-popup .slider .slider-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0a84c1;
  position: relative;
  display: inline-block;
  margin-top: 10px;
  pointer-events: none;
  -webkit-user-select: none;
}
.stylepress-payment-popup .slider .handle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  border: 1px solid rgba(226, 196, 196, 0.88);
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
}
.stylepress-payment-popup .slider .handle.ontop {
  z-index: 2;
}
.stylepress-payment-popup .slider .handle:active {
  border-color: #0a84c1;
  box-shadow: 0 0 0.5rem #0a84c1;
}
.stylepress-payment-popup .slider .handle-left {
  left: 0;
}
.stylepress-payment-popup .slider .handle-right {
  right: 0;
}
.stylepress-payment-popup .slider .slider-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0a84c1;
  pointer-events: none;
  -webkit-user-select: none;
}
.stylepress-payment-popup .slider .slider-transition {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.style-list {
  margin-bottom: 30px;
}
