
.inner-page-content-area{
  text-align: center;
  padding: 80px 20px;
  color: #000;
  background:#FFF;
  background: -webkit-repeating-linear-gradient(45deg, #efefef, #efefef 10px, #FFFFFF 10px, #FFFFFF 20px);
  background: repeating-linear-gradient(45deg, #efefef, #efefef 10px, #FFFFFF 10px, #FFFFFF 20px);
}

body.dtbaker-elementor-template > .elementor > .elementor-inner > .elementor-section-wrap > section.elementor-section{
  // fix for menu drop down
  position: relative;
  z-index: 2;
}
section.section-dtbaker-has-inner{
  z-index: 1 !important;
}

/**
StylePress Custom Addons:
 */
.stylepress-icon-inline{
  .elementor-icon-list-items{
    > li{
      float: left;
      padding: 6px;
    }
  }
}

