
.inner-page-content-area{
  text-align: center;
  padding: 80px 20px;
  color: #000;
  background:#FFF;
  background: -webkit-repeating-linear-gradient(45deg, #efefef, #efefef 10px, #FFFFFF 10px, #FFFFFF 20px);
  background: repeating-linear-gradient(45deg, #efefef, #efefef 10px, #FFFFFF 10px, #FFFFFF 20px);
}

body.dtbaker-elementor-template > .elementor > .elementor-inner > .elementor-section-wrap {
  section.elementor-section {
    // fix for menu drop down
    position: relative;
    &:nth-child(1){
      z-index: 7;
    }
    &:nth-child(2){
      z-index: 6;
    }
    &:nth-child(3){
      z-index: 5;
    }
    &:nth-child(4){
      z-index: 4;
    }
    &:nth-child(5){
      z-index: 3;
    }
    &:nth-child(6){
      z-index: 2;
    }
  }
}
body.dtbaker-elementor-template.elementor-editor-active > .elementor > .elementor-inner > .elementor-section-wrap {
  section.elementor-section{
    z-index:1 !important;
  }
}


/**
StylePress Custom Addons:
 */
.stylepress-icon-inline{
  ul.elementor-icon-list-items{
    display:flex;
    justify-content: center;
    > li{
      padding: 6px;
    }
  }
  &.elementor-align-left{
    ul.elementor-icon-list-items {
      justify-content: flex-start;
    }
  }
  &.elementor-align-right{
    ul.elementor-icon-list-items {
      justify-content: flex-end;
    }
  }
}
